In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/content/tested.csv")

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
df.dtypes
#

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
# counting passengers
df["Survived"].value_counts()

0    266
1    152
Name: Survived, dtype: int64

In [ ]:
df['Survived']==1
# counting how many of them survived

0      False
1       True
2      False
3      False
4       True
       ...
413    False
414     True
415    False
416    False
417    False
Name: Survived, Length: 418, dtype: bool

In [ ]:
print('Total number of passangers in the data :', len(df))
print('Number of passangers  who survived:', len(df[df['Survived'] == 1]))
print("Number of passangers  who didn't survived:", len(df[df['Survived'] == 0]))

Total number of passangers in the data : 418
Number of passangers  who survived: 152
Number of passangers  who didn't survived: 266

In [ ]:
df['Sex'].value_counts()
# identifying their gender

male      266
female    152
Name: Sex, dtype: int64

In [ ]:
print('% of male who survived', 100*np.mean(df['Survived'][df['Sex']=='male']))
print('% of female who survived', 100*np.mean(df['Survived'][df['Sex']=='female']))

% of male who survived 0.0
% of female who survived 100.0

In [ ]:
# % of men and women who survived, and then by the same token with class and age?
df['Pclass'].value_counts()

3    218
1    107
2     93
Name: Pclass, dtype: int64

In [ ]:
print('% of passengers who survived in 1st class', 100*np.mean(df['Survived'][df['Pclass'] == 1]))
print('% of passengers who survived in 2nd class', 100*np.mean(df['Survived'][df['Pclass'] == 2]))
print('% of passengers who survived in 3rd class', 100*np.mean(df['Survived'][df['Pclass'] == 3]))

% of passengers who survived in 1st class 46.728971962616825
% of passengers who survived in 2nd class 32.25806451612903
% of passengers who survived in 3rd class 33.02752293577982

In [ ]:
df[["Pclass", "Survived"]].groupby(['Pclass']).mean()

        Survived
Pclass
1       0.467290
2       0.322581
3       0.330275

In [ ]:
df[["Pclass", "Survived"]].groupby(['Pclass']).min()

        Survived
Pclass
1              0
2              0
3              0

In [ ]:
df[["Pclass", "Survived"]].groupby(['Pclass']).max()

        Survived
Pclass
1              1
2              1
3              1

In [ ]:
df["Cabin"].value_counts()

B57 B59 B63 B66    3
B45                2
C89                2
C55 C57            2
A34                2
                  ..
E52                1
D30                1
E31                1
C62 C64            1
C105               1
Name: Cabin, Length: 76, dtype: int64

In [ ]:
df[["Sex", "Survived"]].groupby(['Sex']).describe()

       Survived
          count mean  std  min  25%  50%  75%  max
Sex
female    152.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
male      266.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [ ]:
df.shape

(418, 12)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [ ]:
df["Age"]

0      34.5
1      47.0
2      62.0
3      27.0
4      22.0
       ...
413     NaN
414    39.0
415    38.5
416     NaN
417     NaN
Name: Age, Length: 418, dtype: float64

In [ ]:
g = df.groupby("Pclass")
for Pclass, data in g:
    print("pclass:",Pclass)
    print("\n")
    print("data:",data)

pclass: 1


data:      PassengerId  Survived  Pclass  \
11           903         0       1
12           904         1       1
14           906         1       1
20           912         0       1
22           914         1       1
..           ...       ...     ...
403         1295         0       1
404         1296         0       1
407         1299         0       1
411         1303         1       1
414         1306         1       1

                                                  Name     Sex   Age  SibSp  \
11                          Jones, Mr. Charles Cresson    male  46.0      0
12       Snyder, Mrs. John Pillsbury (Nelle Stevenson)  female  23.0      1
14   Chaffee, Mrs. Herbert Fuller (Carrie Constance...  female  47.0      1
20                              Rothschild, Mr. Martin    male  55.0      1
22                Flegenheim, Mrs. Alfred (Antoinette)  female   NaN      0
..                                                 ...     ...   ...    ...
403                             Carrau, Mr. Jose Pedro    male  17.0      0
404                       Frauenthal, Mr. Isaac Gerald    male  43.0      1
407                         Widener, Mr. George Dunton    male  50.0      1
411    Minahan, Mrs. William Edward (Lillian E Thorpe)  female  37.0      1
414                       Oliva y Ocana, Dona. Fermina  female  39.0      0

     Parch       Ticket      Fare Cabin Embarked
11       0          694   26.0000   NaN        S
12       0        21228   82.2667   B45        S
14       0  W.E.P. 5734   61.1750   E31        S
20       0     PC 17603   59.4000   NaN        C
22       0     PC 17598   31.6833   NaN        S
..     ...          ...       ...   ...      ...
403      0       113059   47.1000   NaN        S
404      0        17765   27.7208   D40        C
407      1       113503  211.5000   C80        C
411      0        19928   90.0000   C78        Q
414      0     PC 17758  108.9000  C105        C

[107 rows x 12 columns]
pclass: 2


data:      PassengerId  Survived  Pclass  \
2            894         0       2
7            899         0       2
13           905         0       2
15           907         1       2
16           908         0       2
..           ...       ...     ...
387         1279         0       2
393         1285         0       2
401         1293         0       2
405         1297         0       2
406         1298         0       2

                                              Name     Sex   Age  SibSp  \
2                        Myles, Mr. Thomas Francis    male  62.0      0
7                     Caldwell, Mr. Albert Francis    male  26.0      1
13                            Howard, Mr. Benjamin    male  63.0      1
15   del Carlo, Mrs. Sebastiano (Argenia Genovesi)  female  24.0      1
16                               Keane, Mr. Daniel    male  35.0      0
..                                             ...     ...   ...    ...
387                                Ashby, Mr. John    male  57.0      0
393                           Gilbert, Mr. William    male  47.0      0
401                                Gale, Mr. Harry    male  38.0      1
405   Nourney, Mr. Alfred (Baron von Drachstedt")"    male  20.0      0
406                      Ware, Mr. William Jeffery    male  23.0      1

     Parch         Ticket     Fare Cabin Embarked
2        0         240276   9.6875   NaN        Q
7        1         248738  29.0000   NaN        S
13       0          24065  26.0000   NaN        S
15       0  SC/PARIS 2167  27.7208   NaN        C
16       0         233734  12.3500   NaN        Q
..     ...            ...      ...   ...      ...
387      0         244346  13.0000   NaN        S
393      0     C.A. 30769  10.5000   NaN        S
401      0          28664  21.0000   NaN        S
405      0  SC/PARIS 2166  13.8625   D38        C
406      0          28666  10.5000   NaN        S

[93 rows x 12 columns]
pclass: 3


data:      PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
3            895         0       3
4            896         1       3
5            897         0       3
..           ...       ...     ...
412         1304         1       3
413         1305         0       3
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
5                      Svensson, Mr. Johan Cervin    male  14.0      0      0
..                                            ...     ...   ...    ...    ...
412                Henriksson, Miss. Jenny Lovisa  female  28.0      0      0
413                            Spector, Mr. Woolf    male   NaN      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket     Fare Cabin Embarked
0                330911   7.8292   NaN        Q
1                363272   7.0000   NaN        S
3                315154   8.6625   NaN        S
4               3101298  12.2875   NaN        S
5                  7538   9.2250   NaN        S
..                  ...      ...   ...      ...
412              347086   7.7750   NaN        S
413           A.5. 3236   8.0500   NaN        S
415  SOTON/O.Q. 3101262   7.2500   NaN        S
416              359309   8.0500   NaN        S
417                2668  22.3583   NaN        C

[218 rows x 12 columns]

        Survived
Pclass
3       0.330275